body {
	background-color: grey;
}
#react_main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/* BG */

	body.is-preload #bg:before {
		background-color: transparent;
	}

/* Header */

	body.is-preload #header {
		-moz-filter: none;
		-webkit-filter: none;
		-ms-filter: none;
		filter: none;
	}

		body.is-preload #header > * {
			opacity: 1;
		}

		body.is-preload #header .content .inner {
			max-height: none;
			padding: 3rem 2rem;
			opacity: 1;
		}

/* Main */

	#main article {
		opacity: 1;
		margin: 4rem 0 0 0;
	}